button {
  background-color: black;
  border: 1px solid yellow;
  padding: 1em;
  border-radius: 1em;
  color: rgb(224, 227, 17);
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: black;
  color: rgb(62, 212, 16);
}
